*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;
}

body{
background:#0b0b0b;
color:white;
line-height:1.6;
}

header{
text-align:center;
padding:70px 20px;
background:linear-gradient(135deg,#111,#000);
}

header h1{
font-size:40px;
}

header p{
color:#00ffff;
margin-top:10px;
}

section{
padding:60px 20px;
max-width:1100px;
margin:auto;
}

h2{
margin-bottom:30px;
color:#00ffff;
text-align:center;
}

.about p{
text-align:center;
max-width:700px;
margin:auto;
}

.skill-grid{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:15px;
}

.skill-grid span{
background:#111;
padding:10px 20px;
border-radius:20px;
border:1px solid #00ffff;
}

.gallery-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:15px;
}

.gallery-grid img{
width:100%;
height:250px;
object-fit:cover;
border-radius:12px;
transition:0.3s;
}

.gallery-grid img:hover{
transform:scale(1.05);
}

.contact-links{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:20px;
}

.contact-links a{
text-decoration:none;
color:white;
background:#111;
padding:12px 20px;
border-radius:30px;
border:1px solid #00ffff;
transition:0.3s;
}

.contact-links a:hover{
background:#00ffff;
color:black;
}

footer{
text-align:center;
padding:20px;
background:#111;
font-size:14px;
margin-top:40px;
}